*{
  margin :0;
  border:0;
} 

body{
  background-color: pink; 
  background:url('bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.container .navb{
  width: 100%;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}  

h2{
  margin-left: 150px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.form-container {
  width: 400px;
  margin: auto;
  border: 3px solid black;
  border-radius: 10px;
  padding-left:30px;
  padding-right:30px;
  background-color: rgba(0,0,0, 0.5);
  margin-top: 30px;
}

#name,
#age,
#sex,
#mobile,#email,
select,
#date,
#address,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box; 
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox input {
  margin-right: 10px;
}

button {
  background-color:red;
  color: #fff;
  border: none;
  padding: 15px;
  cursor: pointer;
  
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

label{
  color:whitesmoke;
}



